* { -webkit-text-size-adjust: none; font-family: "Lucida Grande", Tahoma,verdana,arial,sans-serif; font-size: 12px; -webkit-print-color-adjust:exact; }
body {margin:0; overflow-x:hidden; color: #000;}
fieldset { border: none; padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0}
h3 { font-weight: normal; }
html, body { height: 100%; font-weight: normal; background: #efefef; }
input[type=text] { border: 1px solid #abadb3; padding: 2px; outline: none; width: 294px; }
select { border: 1px solid #abadb3; margin: 0; outline: none; padding: 2px; width: 299px; margin-bottom: 1px; }
textarea { resize: none; border: 1px solid #abadb3; outline: none; max-height: 35px; margin-bottom: 0; width: 294px; }
input[type=text]:focus, select:focus, textarea:focus { border: 1px solid blue; }
.aksi { white-space: nowrap; text-transform: none; }
.aksi .addition {background: url('../images/icons/add.png') no-repeat 0 50%; padding-left:18px;}
.choosen { text-transform: none; }
.choosen:hover { cursor: pointer }
.data-input button[type=button], .data-input input[type=button] { margin-left: 0; float: left; }
.data-input button[type=submit], .data-input button[type=reset] { margin-left: 0; float: left; }
.form-payment td { font-size: 20px; }
.inputan { border-spacing: 0; }
.inputan input[type=checkbox] { margin-left: 0; }
.inputan td:first-child { width: 150px; }
.inputan td { border-bottom: 1px solid #f1f1f1; height: 24px; }
.main-menu-user { color:#fff; padding-top: 5px; width:100%; font-size:10px; position: fixed;}
.menu-detail:hover { overflow-y: auto; }
.menu-detail { overflow-y: hidden; background: #2c3e50; color: #000; width: 17%; float: left; height: 100%;}
.menu-detail .leftmenu { display: block; margin: 0px;  border-bottom: 1px dotted #f5f5be; padding: 5px 5px 5px 5px; width: 96%; height: 16px;  }
.menu-detail .leftmenu:hover { background: #fcfcd8; cursor: pointer; }
.menu-detail .leftmenu img { width: 20px; }
.modal { display: none; }
.ui-dialog .ui-dialog-title .ui-icon {
    float: left;
    margin-right: 4px;
}
.status { float: left; display: inline-block; }
.kegiatan { margin: 5px; background: #fff; color: #000;}
.print-area { background: #fff; }
/*LIST DATA*/

.list-data { text-transform: none; border: 1px solid #6eb7ff; margin: 5px 0; background: #fff; color: #000; font-size: 11px; border-spacing: 0; }
.list-data input[type=text], .list-data input[type=button] { margin: 0; font-size: inherit; }
.list-data input[type=text] { width: 100%; margin: 0; border: none; }
.list-data select { border: none; }
.list-data th { font-weight: normal; text-transform: uppercase; border-bottom: 1px solid #ccc; background: #3399ff; border-bottom: #dfdfdf; height: 30px; color: #fff; cursor: pointer; }
.list-data th.left { text-align: left; }
.list-data th.right { text-align: right; }
.list-data td { height: 20px; border-bottom: 1px solid #ccc; height: 20px; empty-cells: show; padding: 1px 2px; }
.list-data td input[type=text], .list-data td select { padding: 0; }
.list-data td.aksi { white-space: nowrap; width: 2%; text-align: center; }
.list-data tfoot td { font-weight: bold; }
.list-data .even { background: #fff; cursor: pointer; }
.list-data .odd { background: #f4f4f4; cursor: pointer; }
.list-data .even:hover, .list-data .odd:hover {background: #d0e7fe; }
.list-data .link_button { text-transform: capitalize; }
.list-data .link_button:hover { text-decoration: underline; cursor: pointer; }

.list-data-input { text-transform: uppercase; border-top: 1px solid #6eb7ff; border-left: 1px solid #6eb7ff; margin: 5px 0; background: #fff; color: #000; font-size: 11px; border-spacing: 0; }
.list-data-input input[type=text], .list-data-input input[type=button] { margin: 0; font-size: inherit; }
.list-data-input input[type=text] { width: 100%; margin: 0; border: none; }
.list-data-input select { border: none; }
.list-data-input th { font-weight: normal; border-right: 1px solid #6eb7ff; border-bottom: 1px solid #ccc; background: #3399ff; border-bottom: #dfdfdf; height: 30px; color: #fff; cursor: pointer; }
.list-data-input td { border-right: 1px solid #ccc; height: 20px; border-bottom: 1px solid #ccc; height: 20px; empty-cells: show; padding: 1px 2px; }
.list-data-input tfoot td { font-weight: bold; }
.list-data-input .even { background: #fff; cursor: pointer; }
.list-data-input .odd { background: #f4f4f4; cursor: pointer; }
.list-data-input .even:hover, .list-data-input .odd:hover {background: #d0e7fe; }
.list-data-input .link_button { text-transform: capitalize; }
.list-data-input .link_button:hover { text-decoration: underline; cursor: pointer; }
.data-input { background: #f9f9f9; border: 1px solid #ccc; padding: 10px; }
.table-neraca { border-top: 1px solid #ccc; border-left: none; border-spacing: 0; }
.table-neraca td { border-bottom: 1px solid #ccc; border-right: none; padding: 3px 5px; }
.data-dokter td { text-align: center; }
.logo-apotek { background: url(../images/logofix.png) no-repeat; width: 190px; height: 38px; float: left; margin: 5px 0 0 5px; background-size: 180px; }
#awal, #akhir, #awal_keg, #akhir_keg { width: 100px; }
#bt_cari { display: inline-block; padding: 1px 10px; background: url(../images/detail.png) no-repeat; height: 18px; color: #fff; cursor: pointer; margin-left: 3px; position: absolute; }
/*Paging*/
.block { 
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    margin-left: -1px;
    z-index: 2;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
}
.block:hover { 
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
  
}
.noblock { 
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
.page-next { 
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-left: 0;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    margin-left: -1px;
}
.page-prev { 
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-left: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    cursor: pointer;
    
}
.titik { float: left;
        position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.nowrap { white-space: nowrap; }
.titling { font-size: 12px; text-transform: uppercase; display: block; font-weight: bold; color: #000; background: url(../images/pick_bg.jpg) no-repeat; background-position-y: -25px; height: 33px;  }
.titling h1 { display: block; padding: 10px; text-transform: uppercase; }
#loaddata { background: #fff; width: 83%; float: right; height: 93%; overflow-y: auto; }
#loading { height: 7%; }
#mainribbon-min { 
    height: 7%; width: 100%; top: 0;
    background: url(../images/top_bgrepeat.jpg) repeat-x;
    box-shadow: 0 2px 15px #333333;
    text-shadow: 1px 0 0 #666666;
    color: #ffffff;
    position: fixed;
    z-index: 49;
    -moz-box-shadow: 0px 2px 15px #333333;
    -webkit-box-shadow: 0px 2px 15px #333333;
    box-shadow: 0px 2px 15px #333333;
}
#mainribbon-min .info-user { 
    vertical-align:top;
    float: right;
    font-size: 12px;
}
#mainribbon-min .info-user img {
    margin-top: 5px;
    margin-right: 10px;
}
#mainribbon-min .info-user div {
    border-left:1px #333333 solid;
    padding:0 10px 0 20px;
    background-image: url(../images/accbg.png);
    cursor:pointer;
    display:inline-block;
    line-height:47px;
    background-repeat: no-repeat;
    text-align: left;
}
/*Accordion menu*/
.space { height: 7%; }
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    position: relative;
}
#cssmenu {
    width: 100%;
}
#cssmenu > ul > li > ul > li > a {
    padding: 7px 10px;
}
#cssmenu > ul > li > ul > li > a:hover {
    color: #fff;
    background: #2c3e50;
}
#cssmenu > ul > li > a {
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    background: #55c2c2;
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
#cssmenu > ul > li > a > span {
    background: #4f677f;
    padding: 7px 10px 0 10px ;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
#cssmenu > ul > li > a > div.small {
    background: #4f677f;
    font-size: 10px;
    color: #fff;
    padding-left: 11px;
    padding-bottom: 7px;
    font-weight: normal;
    font-size: 11px;
}
#cssmenu > ul > li.active > a > div.small {
    background: #f54c8d;
    font-size: 11px;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.active {
    border-bottom: none;
}
#cssmenu > ul > li.active > a {
    color: #fff;
}
#cssmenu > ul > li.active > a span {
     background: #f54c8d;
}
#cssmenu > ul > li.active > a span.cnt {
    background: none;
}
#cssmenu span.cnt {
    position: absolute;
    top: 8px;
    right: 15px;
    padding: 0;
    margin: 0;
    background: none;
}
/* Sub menu */
#cssmenu ul ul {
    display: none;
}
#cssmenu ul ul li {
    border-bottom: 1px solid #fff;
    border-top: 0;
}
#cssmenu ul ul a {
    padding: 10px;
    display: block;
    color: #fff;
    font-size: 13px;
}
#cssmenu ul ul a:hover {
    color: #000;
}
#cssmenu ul ul li.odd {
    background: #fa9638;
}
#cssmenu ul ul li.even {
    background: #7f8c8d;
}

#resume { float: right; }
#loading_content{
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
}
#loading_content .wrapperloading {
    background: #ccc;
    padding: 5px 10px;
    width: 90px;
    height: 20px;
    margin: auto;
    border-radius: 4px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.loading{
    padding-left: 23px;
    background: #ccc url(../images/loading-page.gif) no-repeat;
    width: 70px;
    height: 20px;
    padding-top: 3px;
}
.nodisplay { display: none; }
@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.blinker {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}