* { -webkit-text-size-adjust: none; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; -webkit-print-color-adjust:exact; }
fieldset { border: none; }
#useractive { float:right; position: fixed; right: 80px; top: 9px; color: #fff; border-right: 1px solid #fff; padding-right: 14px;  }
#useractive .label { text-transform: none; font-style: italic;  }
body {margin:0; overflow-x:hidden; color: #000;}
a {text-decoration: none}
h2 { font-size: 14px; display: block; }
.titling { font-size: 12px; text-transform: uppercase; display: block; font-weight: bold; color: #000; background: url(../images/pick_bg.jpg) no-repeat; background-position-y: -25px; height: 33px;  }
.titling h1 { display: block; padding: 10px; text-transform: uppercase; }
.menu-upper a { color: #000;  padding: 6px 10px;}
.menu-upper a:hover { background: #f4f4f4; padding: 8px 10px; color: #006a9c }
.control { background: url(../images/icons/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x; width:100%; height: 30px; position: absolute; top: 0; left: 0; padding: 10px 10px 5px; }
.logos {height: 110px; background: url(../images/logo.jpg) no-repeat; z-index:1; position: relative; }
/*-- tabel mode-- */

.kegiatan {
    margin: 5px;
    background: #fff;
    color: #000;
}
.data-input input[type=text], .data-input textarea, .data-input select {
    margin: 0 1px 1px 0; 
    border: 1px solid #DDDDDD;
    /*Applying CSS3 gradient*/
/*        background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-linear-gradient(#EEEEEE,#FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}
.data-input input[type=text]:hover, .data-input textarea:hover, .data-input select:hover {
    border:1px solid #999;
}
.data-input input[type=text]:focus, .data-input textarea:focus, .data-input select:focus {
    box-shadow:0 0 2px blue;
}

status {
    display: block;
    margin-bottom: 5px;
}


/*Accordion menu*/
/* Base Styles */
.space { height: 7%; }
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  position: relative;
}
#cssmenu {
  width: 100%;
}
#cssmenu > ul > li > ul > li > a {
    padding: 7px 10px;
}
#cssmenu > ul > li > ul > li > a:hover {
    color: #fff;
    background: #619622;
}
#cssmenu > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #55c2c2;
  color: #ffffff;
  border-bottom: 1px solid #fff;
}
#cssmenu > ul > li > a > span {
  background: #71a424;
  padding: 7px 10px 0 10px ;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
#cssmenu > ul > li > a > div.small {
    background: #71a424;
    font-size: 10px;
    color: #fff;
    padding-left: 11px;
    padding-bottom: 7px;
    font-weight: normal;
    font-size: 11px;
}
#cssmenu > ul > li.active > a > div.small {
  background: #f54c8d;
  font-size: 11px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  color: #fff;
}
#cssmenu > ul > li.active > a span {
  background: #f54c8d;
}
#cssmenu > ul > li.active > a span.cnt {
    background: none;
}
#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  border-bottom: 1px solid #fff;
  border-top: 0;
}
#cssmenu ul ul a {
  padding: 10px;
  display: block;
  color: #fff;
  font-size: 13px;
}
#cssmenu ul ul a:hover {
  color: #000;
}
#cssmenu ul ul li.odd {
  background: #fa9638;
}
#cssmenu ul ul li.even {
  background: #fa9638;
}